.Rproj.user
.Rhistory
.RData
/data/*
/data_raw/*
/Data_raw/*
/Documents/*
*.rds
README.nb.html
/rstuff/*
/Output/*
/manuscript/*
/Documents/*
/tests/*
*.bst
*.save
#*.pdf
*.docx
*.docx#
*.clo
*.cls
*.html
/Meetings/*
/Data/*
/Manuscript/Reports/Figures/*
/Analyses/test/*
/Analyses/Model/Current_climate.R
#/Analyses/Process/*
#/Articles/*
/Poster/*
